@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body {
    background-color: #add8e6;
    font-family: 'Satisfy', cursive;
    text-align: center;
    overflow-x: hidden;
}

/*  DIMENSIONS POP UP */

.popup-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #00000079;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.popup-content {
    background-color: #457794;
    color: #ffffff;
    margin-top: 90px;
    height: 430px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-close {
    align-self: flex-end;
    background-color: #ff0000;
    cursor: pointer;
    padding: 5px;
}

.popup-header {
    font-size: 1.5rem;
    margin-bottom: 50px;
}

.maintext {
    font-size: 3rem;
}

.gridform {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-bottom: 25px;
}

.inputbox {
    width: 50px;
    height: 50px;
    font-size: 1.1rem;
    text-align: center  ;
}

.popup-submit {
    margin-bottom: 10px;
}

.note {
    margin: 0;
}

/* PAD SECTION */

.pad {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.largest-div {
    background-color: #ffffff;
    display: flex;
    border: solid 5px #000000;
    flex-grow: 0;
}

.misc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
}

.options {
    margin-bottom: 10px;
    padding: 10px;
}

.colorselect {
    margin:0 25px 0 0;
    height: 41px;
    width: 86px;
}

.random {
    position: relative;
    bottom: 10px;
}

.small {
    border: solid 1px #00000050;
    height: 35px;
    width: 40px;
}

form, .popup-close, p {
    font-family: 'Times New Roman', Times, serif;
}

label, .inputlabel {
    font-size: 1.1rem;
}

/* button classes */

.important-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

button, .popup-submit {
    border: none;
    border-radius: 2px;
    color: #ffffff;
    font-size: 1.1rem;
    padding: 10px;
    background-color: black;
}

.clear {
    background-color: #ff0000;
}
.change {
    background-color: #80007a;
}

button, input {
    cursor: pointer;
}

/* highlight */

.highlight {
    border-style: dotted;
    opacity: 50%;
}

/* cursor class */

.bucket {
    cursor: url('./cursor/hover.cur'), auto;
}

.precise {
    cursor: url('./cursor/precise.cur'), auto;
}

.erase {
    cursor: url('./cursor/eraser.cur'), auto;
}


/* special/javascript class */
.moveleft {
    position: relative;
    right: 150px;
}

.hide {
   display: none; 
}

.disabled {
    cursor: not-allowed;
    opacity: 15%;
}
