.pad {
    display: flex;
    gap: 100px;
}

.largest-div {
    display: flex;
}

.misc {
    display: flex;
    flex-direction: column;
}

.small {
    border: solid 1px black;
    height: 35px;
    width: 40px;
}

/* cursor class */

.bucket {
    cursor: url('./cursor/hover.cur'), auto;
}

.precise {
    cursor: url('./cursor/precise.cur'), auto;
}

.erase {
    cursor: url('./cursor/eraser.cur'), auto;
}